
# R 
.Rproj.user
.RData
.Rhistory
Rplots.ps

# Packrat
packrat/lib*/
packrat/src/

# Renv
renv

# Latex
**.aux
**.fls
**.fdb*
**.log
**.gz

# Data
data/*/*
!data/*/.gitkeep
!data/00_raw/*.csv

# Builds
build
images/*
reports/*

